# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Prisma generated client (SE REGENERA SOLO)
src/generated/
prisma/generated/
!prisma/schema.prisma
!prisma/migrations/
!prisma/prisma.config.ts

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db